.expenses-filter__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenses-filter__control label {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.expenses-filter__control select {
  padding: 12px 24px;
  width: 124px;
  height: 43px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
}
